header, section.featured, footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: #f2f2f2;
}

header {
  background: #252525;
  padding: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 120px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav form {
  display: flex;
  align-items: center;
}

header nav form input[type="text"] {
  padding: 10px;
  border: none;
  background: #fff;
  border-radius: 20px 0 0 20px;
  width: 300px;
  margin-right: 20px;
}

header nav form button[type="submit"] {
  padding: 10px 20px;
  background: #252525;
  color: #fff;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

section.featured {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

section.featured .card {
  width: 30%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 40px;
  margin-bottom: 20px;
}

section.featured .card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

section.featured .card h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

footer {
  background: #252525;
  color: #fff;
  padding: 20px;
  text-align: center;
}
